#organizers .organizer {
  position: relative;
  overflow: visible;
  margin-bottom: 30px;
}

#organizers .organizer .image:hover {
  transform: scale(1.1);
}

#organizers .organizer .image {
  transition: all ease-in-out 0.4s;
}

#organizers .organizer .image {
  border-radius: 50%;
  overflow: hidden;
  margin: 10%;
}

#organizers .organizer .details {
  text-align: center;
  padding-top: 10px;
  /* transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}

#organizers .organizer .details h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  font-weight: bold;
}

#organizers .organizer .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

#organizers .organizer .details a {
  color: #112363;
}

#organizers .organizer .details a:hover {
  color: #E0BE36;
}