<template id="organizer-card">
  <link href="components/OrganizerCard/organizer-card.css" rel="stylesheet" type="text/css">  
  <div class="organizer" data-aos="fade-up" data-aos-delay="100">
    <div class="image">
      <a href="#" id="organizer-link" target="_blank">
        <img
          src="/"
          id="organizer-img"
          alt="Organizzatore sconosciuto"
          class="img-fluid"
        />
      </a>
    </div>
    <div class="details">
      <h3><a id="organizer-name" href="/" target="_blank">Organizer name</a></h3>
    </div>
  </div>
</template>
