<template id="tac-speakers">
  <link href="components/TacSpeakers/tac-speakers.css" rel="stylesheet" type="text/css">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Speaker</h2>
      <p>Chi parlerà all'Agile Venture Torino #TAC23?</p>
    </div>
    <div class="row">
      <!-- <iframe
        style="height: 1460px;"
        src="https://sessionize.com/api/v2/xx4ma5wm/view/SpeakerWall"
      ></iframe> -->

      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="alessandroGiardina" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="almaDelCampo" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="andreaGelli" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="annaDeambrosis" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="carloDiDomenico" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="carmelaFlaminio" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="cassandraCavalleri" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="claudioSaurin" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="cosimoPaletta" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="deborahGhisolfi" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="emilianoSoldi" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="federicaDante" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="feliceDeRobertis" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="francescoFullone" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="francescoRacanati" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="jacopoRomei" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="matteoTortelli" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="niccoloBattezzati" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="nicolaLobusto" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="nicolaMoretto" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="paoloPustorino" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="valeriaBurdi" />
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <speaker-card key="valerioAcerbis" />
      </div>
    </div>
  </div>
</template>