#speakers .card {
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#speakers .section-sub-header {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#speakers .section-sub-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  bottom: 0;
  left: calc(50% - 25px);
}

#speakers .section-sub-header h3 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

#speakers .section-sub-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}
#speakers .section-sub-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #E0BE36;
  bottom: 0;
  left: calc(50% - 25px);
}