<template id="tac-keynote">
  <link href="components/TacKeynote/tac-keynote.css" rel="stylesheet" type="text/css">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Keynote</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-4 paragraph">
        <h3>Andrea Provaglio</h3>
        <span>
          <p>Affianca aziende ed organizzazioni nel ripensare le proprie dinamiche organizzative per fare business più
            efficacemente nel 21<sup>mo</sup> secolo.<br />
            Dal top management ai team operativi, svolge attività di coaching, consulenza e affiancamento “on the job".<br />
            Molto interessato ai temi della leadership distribuita, lavora su strutture organizzative non convenzionali,
            comunicazione, apprendimento e miglioramento continuo.
          </p>
        
          <p>Da 12 anni si occupa di agilità in Italia e all'estero e ha collaborato, in tre diversi continenti, con
            organizzazioni che vanno dalla FAO (Nazioni Unite) fino a start-up piccole e dinamiche.<br />
            Ha lavorato per quattro anni negli Stati Uniti con un visto di tipo O-1 per “abilità straordinarie nelle scienze”.
          </p>
        
          <p>Come parte delle regolari attività, gli piace condividere le sue esperienze partecipando come speaker alle
            principali conferenze internazionali del settore.</p>
        
        </span>
        </div>
      <div class="col-lg-6 col-xl-4">
        <speaker-card key="andreaProvaglio" />
      </div>
      <div class="col-xl-4 paragraph">
        <h3>What Agile Can Learn from Lean Manufacturing — and vice versa</h3>
        <span><p>Da qualche anno affianco una multinazionale manifatturiera nell'adottare l'Agile a diversi livelli e in
          diverse funzioni dell'organizzazione.<br/>
          L'azienda applica la Lean intensamente da molti anni, il che è una bella opportunità per entrambi di imparare
          l'uno dall'altro — e non tanto le pratiche, ma soprattutto sugli approcci culturali e mentali.</p>

          <p>In questa chiacchierata condivido alcune delle intuizioni che ho avuto da questo scambio.<br/>
          Parleremo di come promuovere l'Agile a livello organizzativo, in modo che i concetti di Flusso, Prodotto,
          Tecnologia, Qualità e Sicurezza possano essere applicati indipendentemente dal tipo di settore in cui si
          lavora (senza dimenticare il contesto specifico, ovviamente).</p></span>
      </div>
    </div>
  </div>
</template> 