<template id="tac-tickets">
  <link href="components/TacTickets/tac-tickets.css" rel="stylesheet" type="text/css">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Biglietteria</h2>
      <p>Acquista il tuo biglietto gratuito e partecipa alla conferenza.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <!-- <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="standard-access">Acquista il biglietto</button> -->
          <a href="https://tickets.agilemovement.it/event/tac23" type="button" class="btn" target="_blank">Acquista il biglietto</a>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal Order Form -->
  <div id="buy-ticket-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Buy Tickets</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="#">
            <div class="form-group">
              <input type="text" class="form-control" name="your-name" placeholder="Your Name">
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="your-email" placeholder="Your Email">
            </div>
            <div class="form-group mt-3">
              <select id="ticket-type" name="ticket-type" class="form-select">
                <option value="">-- Select Your Ticket Type --</option>
                <option value="standard-access">Standard Access</option>
                <option value="pro-access">Pro Access</option>
                <option value="premium-access">Premium Access</option>
              </select>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn">Buy Now</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template> 