<template id="tac-sessions">
  <link href="components/TacSessions/tac-sessions.css" rel="stylesheet" type="text/css">
  <div class="container">
    <div class="section-header">
      <h2>Sessioni</h2>
    </div>
    <div class="sessionize-loader">
      <div class="sz-root">
        <div id="sessionize" class="sessionize-wrapper">
          <div class="sz-timezone" style="display: none;">
            <div class="sz-timezone__radio sz-timezone__radio--local"> <input type="radio" id="local-timezone"
                name="select-timezone" checked=""> <label for="local-timezone"> <span class="sz-timezone__name"></span>
                <span class="sz-timezone__tooltip" role="tooltip"></span> </label> </div> <svg class="icon-clock-time">
              <use xlink:href="#icon-clock-time"></use>
            </svg>
            <div class="sz-timezone__radio sz-timezone__radio--event"> <input type="radio" id="event-timezone"
                name="select-timezone"> <label for="event-timezone"> <span class="sz-timezone__name"></span> <span
                  class="sz-timezone__tooltip" role="tooltip"></span> </label> </div>
          </div>
          <div class="sz-tab-container sz-tab-container--active" id="sz-tab-0">
            <ul class="sz-sessions--list">
              <li id="sz-session-520070" data-sessionid="520070"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191192">
                <ul class="sz-session__speakers">
                  <li data-speakerid="5276fa96-c624-48e4-8cac-8227d810419d"> <a
                      href="speaker-details.html?key=andreaProvaglio" target="_blank">Andrea Provaglio</a> </li>
                </ul>
                <h3 class="sz-session__title"> What Agile Can Learn from Lean Manufacturing — and vice versa </h3>
                <p class="sz-session__description">Da qualche anno affianco una multinazionale manifatturiera
                  nell’adottare l’Agile a diversi livelli e in diverse funzioni dell'organizzazione.<br>L’azienda
                  applica la Lean intensamente da molti anni, il che è una bella opportunità per entrambi di imparare
                  l'uno dall'altro — e non tanto le pratiche, ma soprattutto sugli approcci culturali e mentali.<br>In
                  questa chiacchierata condivido alcune delle intuizioni che ho avuto da questo scambio.<br>Parleremo di
                  come promuovere l'Agile a livello organizzativo, in modo che i concetti di Flusso, Prodotto,
                  Tecnologia, Qualità e Sicurezza possano essere applicati indipendentemente dal tipo di settore in cui
                  si lavora (senza dimenticare il contesto specifico, ovviamente).<br></p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T07:40:00.0000000Z|2023-09-30T08:30:00.0000000Z">sab 09:40 - 10:30
                </div>
                <div class="sz-session__time"><a href="Slides/00 - Andrea Provaglio - Kyenote.pdf" target="_blank">📄
                    Slide</a></div>
                <div class="sz-session__time"><a href="https://vimeo.com/872652327" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191192" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191192">Avanzato</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> manufacturing </dd>
                </dl>
              </li>
              <li id="sz-session-514626" data-sessionid="514626"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="0d53eef6-76df-46ae-949f-2d567e98f4cc"> <a
                      href="speaker-details.html?key=niccoloBattezzati" target="_blank">Niccolò Battezzati</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Principi Agile per prodotti spaziali <a
                    href="https://vimeo.com/874395900" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Il settore delle missioni spaziali è uno di quei mondi che resta
                  ancora legato al tradizionale processo di sviluppo per fasi successive, con le grandi agenzie
                  internazionali che la fanno da padrone. In Argotec, azienda torinese specializzata nella progettazione
                  e costruzione di satelliti di piccole dimensioni, unica azienda Europea ad aver fatto volare un
                  satellite nella prima missione del programma NASA Artemis, volto a riportare l'essere umano sulla
                  Luna, stiamo trasformando il nostro modo di approcciare lo sviluppo di questi oggetti complessi
                  sfruttando i principi Agile. Proprio da questa trasformazione sta nascendo la consapevolezza e la
                  competenza per applicare l'Agile ai prodotti per lo spazio. Questa presentazione ripercorrerà le
                  lezioni imparate e le conoscenze maturate nell'applicare l'Agile non solo al software dei nostri
                  satelliti ma allo sviluppo di tutte le loro componenti, dalla meccanica, all'elettronica, ai sistemi
                  di controllo, per innovare in maniera sostenibile lo spazio.</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T09:45:00.0000000Z">sab 11:00 - 11:45
                </div>
                <div class="sz-session__time"><a href="Slides/01 - Niccolò Battezzati.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/874395900" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Aerospazio </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Esempi di applicazione dei principi e delle pratiche Agile ai prodotti
                    aerospaziali, contenenti hardware, software e algoritmi complessi, e che devono rispondere alla
                    richiesta di un'altissima affidabilità. </dd>
                </dl>
              </li>
              <li id="sz-session-513914" data-sessionid="513914"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191192">
                <ul class="sz-session__speakers">
                  <li data-speakerid="e5746aa5-5bfe-4a58-bf97-080767ee9e6b"> <a
                      href="speaker-details.html?key=valeriaBurdi" target="_blank">Valeria Burdi</a> </li>
                  <li data-speakerid="c954e480-6792-4938-8e79-193497649113"> <a
                      href="speaker-details.html?key=carmelaFlaminio" target="_blank">Carmela Flaminio</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Innovarsi e Rinnovarsi. Step out of your comfort zone, step into
                  Agile. <a href="https://vimeo.com/874712343" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Il World Happiness Report 23 risponde all'esigenza di porre più
                  attenzione al Benessere e alla Felicità, monitorando lo stato di quest'ultima nel mondo. <br>Sopra di
                  noi sorridono in più di trenta, siamo quindi un Paese di infelici? Probabile. Ma se questo
                  rappresentasse un valore aggiunto e una forte spinta al cambiamento?<br>Innovarsi: Valeria Burdi vi
                  accompagnerà all’interno del suo percorso di cambiamento, nato dall’obiettivo di inseguire la felicità
                  e di come l’ingresso nell’Agilità abbia portato alla più strabiliante delle esperienze, implementare
                  Scrum nella didattica.<br>Rinnovarsi: Carmela Flaminio condividerà il suo percorso, raccontandovi di
                  riunioni di condominio, di lavori di ristrutturazione di casa, di negoziazioni e transazioni. Sareste
                  pronti ad accogliere l’idea che l’Agilità esiste anche all’interno di un Codice Civile?<br>I principi
                  Agili possono essere introdotti all’interno di qualsiasi contesto … o forse no?<br>D’altronde, chi è
                  mai uscito felice da una riunione di condominio?</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T09:45:00.0000000Z">sab 11:00 - 11:45
                </div>
                <div class="sz-session__time"><a href="Slides/02 - Valeria Burdi, Carmela Flaminio.pdf"
                    target="_blank">📄 Slide</a></div>
                <div class="sz-session__time"><a href="https://vimeo.com/874712343" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191192" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191192">Avanzato</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Education and Legal Field </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Al di fuori del contesto IT l'Agilità rafforza il proprio potere
                    innovativo, come accaduto nel mondo forense, portando a soluzioni più snelle, rapide e maggiormente
                    customer-centered.<br>Allo stesso modo nella didattica che, attraverso l'Agilità, consolida una
                    visione student-centered, dal momento in cui il discente viene reso co-creatore del proprio percorso
                    di apprendimento, incentivando il lifelong learning. </dd>
                </dl>
              </li>
              <li id="sz-session-513364" data-sessionid="513364"
                class="sz-session sz-session--full sz-tag_54622-190409 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="9fc7ecbe-9e48-4aa9-a49f-e39bf1168b60"> <a
                      href="speaker-details.html?key=matteoTortelli" target="_blank">Matteo Tortelli</a> </li>
                  <li data-speakerid="6f369af3-938a-4393-a718-8b5b16e9fd60"> <a
                      href="speaker-details.html?key=valerioAcerbis" target="_blank">Valerio Acerbis</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🛠️CoLabo: coltiva un ambiente aziendale positivo </h3>
                <p class="sz-session__description">Quante volte hai avuto esperienze negative nel tuo team di lavoro e
                  non sei riuscito a trovare un modo per migliorare la situazione?<br><br>Abbiamo sviluppato un gioco in
                  scatola “serious play” dedicato alle imprese del settore tech che ha l'obiettivo di sensibilizzare i
                  team sull'importanza di un buon clima aziendale.<br><br>Durante il workshop affronteremo problemi
                  reali e molto comuni scoprendo alcune soluzioni vincenti per costruire un ambiente sereno e
                  collaborativo.<br><br>Grazie allo stampo ludico le barriere interpersonali vengono abbassate, si
                  garantisce una comunicazione fluida promuovendo l’ascolto attivo tra i partecipanti.</p>
                <div data-roomid="36743" class="sz-session__room">Sala workshop</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T10:30:00.0000000Z">sab 11:00 - 12:30
                </div>
                <div class="sz-session__time"><a href="Slides/15 - Matteo Tortelli, Valerio Acerbis.pdf"
                    target="_blank">📄 Slide</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190409" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190409">90' Workshop</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Education </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Le carte che si pescano durante il gioco contengono delle pillole di
                    conoscenza che facilitano la comunicazione, il pensiero e la costruzione di idee per risolvere i
                    problemi di individui, team e organizzazioni. </dd>
                </dl>
              </li>
              <li id="sz-session-513860" data-sessionid="513860"
                class="sz-session sz-session--full sz-tag_54622-190409 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="5c928a4a-7e97-4b0f-bc4d-80517467ac01"> <a
                      href="speaker-details.html?key=carloDiDomenico" target="_blank">Carlo Di Domenico</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🛠️Agile werewolves </h3>
                <p class="sz-session__description">Le dinamiche in un gruppo di persone non sono mai semplici e lineari,
                  nemmeno quando si hanno obiettivi chiari e comuni.<br>Il ruolo del facilitatore dovrebbe aiutare il
                  team nella comunicazione, facendo emergere le varie anime e le differenti opinioni delle persone,
                  restando sempre imparziale ed evitando di cadere nel protagonismo.<br>Orientata ai facilitatori di
                  qualsiasi ambito, in particolar modo alla comunicazione e al change management, sarà un’esperienza
                  utile a riconoscere e gestire i bias cognitivi.<br>Un divertente gioco di ruolo, basato su un noto
                  party game di identità nascoste, innovativo e sorprendente, in cui i membri del team, a turno, saranno
                  chiamati a facilitare le animate discussioni del gruppo. <br>L’obiettivo sarà raggiungere trovare un
                  accordo in un timebox variabile e sconosciuto in un ambiente di stress. Sarà, allo stesso tempo, una
                  preziosa occasione per osservare i vari stili di facilitazione.<br>I partecipanti riusciranno a
                  mantenere la calma o si faranno travolgere dalla folla inferocita?</p>
                <div data-roomid="38199" class="sz-session__room">Sala Timina</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T10:30:00.0000000Z">sab 11:00 - 12:30
                </div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190409" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190409">90' Workshop</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Facilitazione, comunicazione </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Un'esperienza nuova sulla facilitazione in uno scenario di difficile
                    gestione con persone sconosciute. </dd>
                </dl>
              </li>
              <li id="sz-session-510859" data-sessionid="510859"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="ffe89d7c-0398-4f95-9c43-c1b070bc4334"> <a
                      href="speaker-details.html?key=emilianoSoldi" target="_blank">Emiliano Soldi</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Agility and Generative AI: friends or foes? <a
                    href="https://vimeo.com/872699039" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Fino al 2020, come coach, lottavamo affinché i membri dei team agili
                  con cui lavoravamo, fossero colocati, con effort dedicato, ispirati dal principio del Manifesto di
                  prediligere conversazioni faccia-a-faccia.<br><br>Poi è arrivata la pandemia.<br>Abbiamo imparato,
                  alcune volte a fatica, come aiutare quei team a lavorare da remoto, adeguando la nostra facilitazione
                  per aiutarli a rimanere uniti, la loro identità intatta e il flusso di collaborazione
                  efficace.<br><br>Oggi abbiamo Generative AI.<br>La promessa è di aumentare creatività, incrementare la
                  produttività e migliorare il processo decisionale, nei fatti, sfidando fortemente le attuali abitudini
                  di lavoro di buona parte delle persone impiegate. <br><br>Quale sarà l'impatto sui team Agile, e in
                  particolare su ciò che riguarda "Individui e interazioni", il primo valore del Manifesto
                  Agile?<br>Come devono evolvere approcci e coaching Agile?<br>Quanto noi Agile Coach accetteremo di
                  essere "aumentati"?<br><br>Queste sono alcune delle domande che affronteremo in questo intervento. Vi
                  aspetto!</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:55:00.0000000Z|2023-09-30T10:40:00.0000000Z">sab 11:55 - 12:40
                </div>
                <div class="sz-session__time"><a href="Slides/03 - Emiliano Soldi.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/872699039" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> People and interactions, Ways of working, Enterprose Business Agility
                  </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Impatti della GenAI sulla workforce<br>Impatti della GenAI sulle
                    WOW<br>Impatti sui team Agile<br>Impatti sul coaching<br>Impatti sui coach </dd>
                </dl>
              </li>
              <li id="sz-session-510920" data-sessionid="510920"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="d67bfb4f-209a-46d6-a495-2b45c619da2f"> <a
                      href="speaker-details.html?key=paoloPustorino" target="_blank">Paolo Pustorino</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Agile HR - Racconti dal fronte <a href="https://vimeo.com/876293563"
                    class="sz-session__video" target="_blank"><span class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Nel 2020 ho avuto il piacere di essere ospite della Agile Community
                  Torino, per raccontare come in SparkFabrik avessimo organizzato i processi di reclutamento secondo
                  quanto appreso dalla nostra esperienza di sviluppo agile.<br><br>Non ho parlato di tecnologia, ma di
                  approcci. Non di strumenti ma di valori.<br><br>Sono passati già tre anni da quell'intervento e il
                  nostro reparto Human Relations non ha mai smesso di innovare e sperimentare, non solo nelle fasi di
                  recruiting ma in tutta la filiera di supporto al personale.<br><br>Vi racconterò cosa è stato fatto
                  per snellire, efficientare e rendere trasparente il nostro ramo. Discuteremo delle sfide ancora aperte
                  e di alcuni elefanti nella stanza che sempre più spesso - a mio avviso - vengono ignorati nelle
                  discussioni di questo settore.<br>E come mio solito, non ci andrò per il sottile.</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T09:55:00.0000000Z|2023-09-30T10:40:00.0000000Z">sab 11:55 - 12:40
                </div>
                <div class="sz-session__time"><a href="Slides/04 - Paolo Pustorino.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/876293563" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> HR / People </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> - Il racconto di un'esperienza, cosa ha funzionato, cosa no e perché<br>-
                    Qualche ispirazione per condurre esperimenti nella propria azienda e verificarne i risultati<br>-
                    Stimoli provocatori a ripensare il proprio ruolo di HR all'interno del contesto aziendale, tenendo
                    conto di fattori spesso ignorati come la propensione al rischio e la natura della gerarchia </dd>
                </dl>
              </li>
              <li id="sz-session-500102" data-sessionid="500102"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="b48496d5-ca6d-4605-8eaa-6d650f82a7dd"> <a
                      href="speaker-details.html?key=alessandroGiardina" target="_blank">Alessandro Giardina</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡L'eterno conflitto tra efficacia ed efficienza <a
                    href="https://vimeo.com/872666551" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Sei efficace o efficiente? Spesso le persone confondono i 2 termini,
                  o addirittura pensano che siano sinonimi.<br>I loro significati sono invece molto diversi, ed esserne
                  consapevoli può essere uno strumento per pensare in ottica Value-Driven, mitigando il pericolo di
                  concentrarsi su obbiettivi sbagliati.<br>Pensare in termini di efficacia vs efficienza può essere
                  utile anche nella definizione delle priorità, sia di breve che di lungo termine.<br>Attraverso alcune
                  metafore e racconti di vita vissuta, vedremo perché, come diceva Peter Drucker, "Non c'è nulla di più
                  inutile e inefficace che realizzare in modo efficiente ciò che non andrebbe realizzato affatto".</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T10:50:00.0000000Z|2023-09-30T11:10:00.0000000Z">sab 12:50 - 13:10
                </div>
                <div class="sz-session__time"><a href="Slides/05 - Alessandro Giardina.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/872666551" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Product Management, SW,... </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Un punto di vista diverso da poter aggiungere alla propria cassetta degli
                    attrezzi del Product Manager, utile per ragionare sul valore e sulle priorità. </dd>
                </dl>
              </li>
              <li id="sz-session-511869" data-sessionid="511869"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="7ad7746e-202f-4df9-aa11-e83387697ed1"> <a
                      href="speaker-details.html?key=andreaGelli" target="_blank">Andrea Gelli</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡Quarterfall Planning <a href="https://vimeo.com/881836621"
                    class="sz-session__video" target="_blank"><span class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">"La pianificazione è una scienza empirica, basata su teoremi inesatti
                  che sviluppano algoritmi approssimativi, costruiti su ipotesi sommarie." Così scriveva l'ingegnere
                  Henry Laurence Gantt oltre 100 anni fa, dopo aver ideato il popolare diagramma.<br><br>L'agilità
                  fallisce senza una buona pianificazione, ma quanto siamo disposti a compromettere la nostra capacità
                  di adattarci al cambiamento?<br><br>Tra piani dettagliati e irrealistici, predittività in domini
                  complessi ed il mito del Time Management, poca teoria e tanti suggerimenti pratici da sperimentare
                  subito, per evitare - o quantomeno ridurre al minimo - situazioni in cui viene pronunciata la frase:
                  "Se avessimo pianificato correttamente, questo non sarebbe mai successo."</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T10:50:00.0000000Z|2023-09-30T11:10:00.0000000Z">sab 12:50 - 13:10
                </div>
                <div class="sz-session__time"><a href="Slides/06 - Andrea Gelli.pdf" target="_blank">📄 Slide</a></div>
                <div class="sz-session__time"><a href="https://vimeo.com/881836621" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Domini complicati e complessi. </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Alternative concrete, semplici ed adattive, per gestire una
                    pianificazione realistica ed utile. Informazioni sui vari punti di vista aziendali che dovrebbero
                    convergere nella stessa prospettiva con obiettivi comuni e condivisi. Perché l'innovazione è anche
                    (se non soprattutto) una questione di approccio e metodo. </dd>
                </dl>
              </li>
              <li id="sz-session-510889" data-sessionid="510889"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="b20d00aa-5a6c-4592-a7a2-12ad28b2d129"> <a
                      href="speaker-details.html?key=francescoRacanati" target="_blank">Francesco Racanati</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡Tutto ciò che non avete mai avuto il coraggio di chiedere su Kanban! <a
                    href="https://vimeo.com/874395086" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Vi è mai capitato di trattenervi dal fare domande su un argomento
                  comune per evitare di sembrare disinformati?<br>Questo è ciò che accade spesso con Kanban.<br>Ad
                  esempio, molti hanno tracciato il proprio lavoro su una board almeno una volta nella vita. Tanti di
                  loro lo fanno perchè qualcun altro glielo chiede, ma non ne comprendono l’utilità. Eppure temono di
                  fare domande in merito per non apparire ignoranti o i soliti “bastian contrario” rispetto a questa
                  pratica.<br><br>L’intento del mio intervento è abbattere questo “imbarazzo” e magari sbloccare un
                  briciolo di consapevolezza in più infatti ho messo insieme le domande più frequenti (cosiddette FAQ)
                  che mi sono state rivolte durante le esperienze da "Kanbanizzatore" o "Kanbanista" in vari contesti
                  (immobiliare, farmaceutico, data analytics e sviluppo software).<br><br>Ovviamente sarò aperto a
                  riceverne di nuove dalla platea e raccogliere eventuali curiosità sull’argomento.</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T12:50:00.0000000Z">sab 14:30 - 14:50
                </div>
                <div class="sz-session__time"><a href="Slides/07 - Francesco Racanati.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/874395086" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Gestione del knowledge work di qualsiasi ambito </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Comprendere da cosa possono partire per iniziare a gestire il proprio
                    lavoro usando Kanban. </dd>
                </dl>
              </li>
              <li id="sz-session-514051" data-sessionid="514051"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="53d8b802-b405-4242-8828-a8ecb95a7760"> <a
                      href="speaker-details.html?key=annaDeambrosis" target="_blank">Anna Deambrosis</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡Un mindset Agile per costruire la strategia di business <a
                    href="https://vimeo.com/881837721" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">La complessità del contesto nel quale ci troviamo ad operare e le
                  nostre prime esperienze nel mondo dell'Agile, ci hanno incoraggiati a costruire un percorso di
                  ridisegno della nuova strategia di business di lungo periodo di tutto il Gruppo con un approccio
                  flessibile e collaborativo definito passo dopo passo. Siamo arrivati, per la prima volta nella storia
                  del nostro gruppo e nell'arco di pochi mesi, a definire una rotta per il nostro futuro portando un
                  grande cambiamento nel modo di approcciare le decisioni strategiche.</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T12:50:00.0000000Z">sab 14:30 - 14:50
                </div>
                <div class="sz-session__time"><a href="Slides/08 - Anna Deambrosis.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/881837721" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Strategic change management </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Un esempio di applicazione del minset agile che esce dalle "fabbriche di
                    software" per contaminare le stanze di comando e aiutare chi ha responsabilità di conduzione delle
                    aziende a prendere decisioni più condivise, consapevoli e di più facile realizzazione. </dd>
                </dl>
              </li>
              <li id="sz-session-499297" data-sessionid="499297"
                class="sz-session sz-session--full sz-tag_54622-190409 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="f60639ab-a066-43d3-b187-3a125a82b363"> <a
                      href="speaker-details.html?key=jacopoRomei" target="_blank">Jacopo Romei</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🛠️Perché le cose vanno sempre peggio dei piani? </h3>
                <p class="sz-session__description">Hai mai notato che le cose sembrano andare sempre peggio di quanto
                  pianificato, soprattutto quando si tratta di compiti complessi? Questo workshop mira a fare luce sulle
                  dinamiche sottostanti che contribuiscono a questo fenomeno e introduce il concetto di ergodicità come
                  argomento chiave.<br><br>Attraverso una combinazione di presentazione, discussioni facilitate e un
                  gioco, i partecipanti impareranno i principi dell'ergodicità e come questi si relazionino
                  all'organizzazione del lavoro. Ispirato al libro "The Goal" di Eliyahu Goldratt, il gioco sfiderà i
                  partecipanti a riflettere su come i processi di lavoro possano involontariamente creare sfortuna e...
                  casino.</p>
                <div data-roomid="36743" class="sz-session__room">Sala workshop</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T14:00:00.0000000Z">sab 14:30 - 16:00
                </div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190409" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190409">90' Workshop</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> processi, sfiga, passaggi di consegne </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> I partecipanti usciranno dal workshop con una comprensione più profonda
                    dell'ergodicità e di come si applica al loro lavoro, oltre a strategie pratiche per migliorare la
                    produttività e ridurre l'impatto negativo della variabilità. Che tu sia un "knowledge worker" che
                    vuole migliorare le sue competenze o un manager che cerca di ottimizzare le prestazioni del proprio
                    team, questo workshop offre preziosi spunti e strumenti per aiutarti a ottenere risultati migliori.
                  </dd>
                </dl>
              </li>
              <li id="sz-session-515216" data-sessionid="515216"
                class="sz-session sz-session--full sz-tag_54622-190409 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="4ce00b58-d133-4452-b9a8-9ecffdd43c7f"> <a
                      href="speaker-details.html?key=deborahGhisolfi" target="_blank">Deborah Ghisolfi</a> </li>
                  <li data-speakerid="99afb669-9a13-4780-bbae-b60f71fd75e1"> <a
                      href="speaker-details.html?key=cassandraCavalleri" target="_blank">Cassandra Cavalleri</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🛠️Sprint per Contenuti di Marketing Efficaci: Accelera il Tuo Flusso di
                  Creazione 💡 </h3>
                <p class="sz-session__description">Durante il workshop, i partecipanti avranno l'opportunità di mettere
                  in pratica l'approccio agile nella creazione di contenuti di marketing. Attraverso queste attività
                  pratiche e coinvolgenti, i partecipanti al workshop esperimenteranno direttamente i benefici
                  dell'approccio agile nella creazione di contenuti di marketing, comprendendo l'importanza delle
                  iterazioni, della collaborazione e dei feedback regolari per ottenere risultati efficaci in tempi
                  ridotti.</p>
                <div data-roomid="38199" class="sz-session__room">Sala Timina</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T14:00:00.0000000Z">sab 14:30 - 16:00
                </div>
                <div class="sz-session__time"><a href="Slides/18 - Deborah Ghisolfi, Cassandra Cavalleri.pdf"
                    target="_blank">📄 Slide</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190409" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190409">90' Workshop</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> marketing + HR + sviluppo prodotto + vendita </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> I partecipanti impareranno a usare dei canvas per poter pianificare
                    meglio strategia e operatività di marketing. Inoltre si porteranno a casa un metodo per organizzare
                    meglio la comunicazione nel team relativamente agli obiettivi della strategia e ai task da eseguire
                    per metterla a terra. <br>I canvas verranno poi condivisi nel formato originale per poter essere
                    utilizzati nel proprio lavoro. </dd>
                </dl>
              </li>
              <li id="sz-session-511696" data-sessionid="511696"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="f10a9f19-4f8a-419f-b028-f41c1b41f821"> <a
                      href="speaker-details.html?key=francescoFullone" target="_blank">Francesco Fullone</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡Evitate gli OKR se... <a href="https://vimeo.com/874394183"
                    class="sz-session__video" target="_blank"><span class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Gli OKR sono diventati di moda e questo è un bene ed un male. Se da
                  una parte il far conoscere questo strumento ad una platea di manager più ampia sia un vantaggio
                  dall'altro, però, sta diventando sempre più frequente l'inserimento degli OKR in contesti poco
                  coerenti con lo strumento (per cultura, risorse o tipologia di impresa). In questo mini intervento
                  parleremo di quando e dove NON utilizzare gli OKR e di come vivere, comunque, felici ;)</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T13:00:00.0000000Z|2023-09-30T13:20:00.0000000Z">sab 15:00 - 15:20
                </div>
                <div class="sz-session__time"><a href="Slides/09 - Francesco Fullone.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/874394183" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> management </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> maggiore comprensione degli OKR per capire se sono lo strumento utile ai
                    loro bisogni </dd>
                </dl>
              </li>
              <li id="sz-session-514604" data-sessionid="514604"
                class="sz-session sz-session--full sz-tag_54622-190423 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="d481a302-9b39-494b-82ca-f2152e38cdbd"> <a
                      href="speaker-details.html?key=almaDelCampo" target="_blank">Alma del Campo</a> </li>
                </ul>
                <h3 class="sz-session__title"> ⚡Agile at School. La rivoluzione dell'educazione. <a
                    href="https://vimeo.com/876312990" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Posteriormente, con la diffusione dell'agilità si verifica la
                  necessità di focalizzarsi sulla risoluzione degli impedimenti e barriere che bloccano il cambiamento
                  delle persone e di conseguenza le pratiche Agile. Being Agile vs Doing Agile.<br>I cambiamenti
                  comportamentali in età adulta sono difficili e lenti. Spesso hanno a che fare con la cultura del paese
                  di nascita, l'ambiente sociale nel quale si cresce, il tipo di educazione, l'esperienza vissuta…
                  <br><br>Tutto ciò ci porta a domandarci… possiamo avere maggiore impatto se approcciamo l'agilità in
                  età più giovane? <br>Quali benefici si possono ottenere dall'applicazione dell'agilità negli istituti
                  scolastici? <br> <br>Studi teorici sui benefici psicologici, educativi e sociali, l'osservazione sul
                  campo attraverso la sperimentazione e casi pratici applicati in scuole innovative dimostrano quanto
                  l'agilità possa essere efficace in questo campo. <br><br>In questo talk parleremo di tutto
                  ciò.<br>Siamo pronti per cogliere questa sfida?<br></p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T13:00:00.0000000Z|2023-09-30T13:20:00.0000000Z">sab 15:00 - 15:20
                </div>
                <div class="sz-session__time"><a href="Slides/10 - Alma del Campo.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/876312990" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190423" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190423">20' Lightning Talk</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Education </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> I partecipanti potranno apprendere un nuovo modo di applicare l'agilità
                    in un contesto altamente innovativo. Uno dei principali obiettivi dell'agilità in ambito education è
                    quello di supportare le nuove generazioni ad affrontare l’incertezza e il cambiamento mediante
                    l'adattabilità e il miglioramento continuo. </dd>
                </dl>
              </li>
              <li id="sz-session-512882" data-sessionid="512882"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191192">
                <ul class="sz-session__speakers">
                  <li data-speakerid="5bc89e09-4e4c-4c79-a364-3c74c1e7df93"> <a
                      href="speaker-details.html?key=feliceDeRobertis" target="_blank">Felice de Robertis</a> </li>
                  <li data-speakerid="6b9622e8-df32-4fed-8d65-3e2787ff217e"> <a
                      href="speaker-details.html?key=nicolaLobusto" target="_blank">Nicola Lobusto</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Accelerare l'Innovazione: Agile nell'Industria Automobilistica <a
                    href="https://vimeo.com/874392399" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Sottotitolo: È possibile usare l’Agile per soluzioni il cui uso è
                  safety critical?<br><br>Nato nel mondo del SW, oggi l’Agile è utilizzato in contesti sempre più
                  complessi, come l’automotive e l’aerospaziale, ed in contesti sempre più legati a vincoli normativi e
                  di compliance, come l’ambito medicale, finanziario, assicurativo, fiscale. <br>Se il rilascio in
                  produzione o il test sul campo è più costoso di una meticolosa simulazione, se non possiamo
                  permetterci bachi “safety critical”, forse dovremmo mediare e rivedere il concetto di “Continuous”?
                  <br><br>Con un focus su come l’Agile sta accelerando l’innovazione nell’Industria Automobilistica,
                  cerchiamo di capire senza preconcetti quali sono i vantaggi e le criticità dell’Agilità nella
                  progettazione e sviluppo di prodotti complessi HW + SW.</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T13:30:00.0000000Z|2023-09-30T14:15:00.0000000Z">sab 15:30 - 16:15
                </div>
                <div class="sz-session__time"><a href="Slides/11 - Felice de Robertis, Nicola Lobusto.pdf"
                    target="_blank">📄 Slide</a></div>
                <div class="sz-session__time"><a href="https://vimeo.com/874392399" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191192" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191192">Avanzato</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Hardware, Software, Industria, Automotive </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Capire quali sono i vantaggi dell'Agile anche per sviluppo di prodotti
                    complessi o safety critical, come nel caso dell'automotive;<br>Scoprire come affrontare le
                    problematiche organizzative (ad esempio coordinamento, allineamento di più team, HW/SW, fornitori,
                    ecc.) e tecniche (architettura, integrazione, testing, compliancy, ecc.) </dd>
                </dl>
              </li>
              <li id="sz-session-513789" data-sessionid="513789"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="36440781-9073-49eb-a057-82073ec567f4"> <a
                      href="speaker-details.html?key=federicaDante" target="_blank">Federica Dante</a> </li>
                  <li data-speakerid="45b0d936-eaf3-40de-a8df-142f94c464df"> <a
                      href="speaker-details.html?key=cosimoPaletta" target="_blank">Cosimo Paletta</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️O vinco o imparo: come praticare l’agilità in un contesto normativo
                  complesso e a tratti caotico. <a href="https://vimeo.com/876301806" class="sz-session__video"
                    target="_blank"><span class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">E' possibile sviluppare un mindset agile in un contesto fortemente
                  condizionato dall'evoluzione normativa, a tratti caotico? <br>La nostra trasformazione tra digitale e
                  culturale: il viaggio di Wolters Kluwer con Genya, da un business legacy alla creazione delle nostre
                  pratiche, adattate per rispondere al cambiamento della normativa e del mercato.<br>Ingredienti:<br>•
                  crescita esponenziale delle normative in un contesto fiscale e contabile che è unico a livello europeo
                  <br>• normativa complessa e in continua evoluzione<br>• prodotto nuovo<br>• necessità di flessibilità
                  e di decisioni veloci<br>• rispetto della data di rilascio imposta dalla normativa<br>• tanti team e
                  tante persone<br>• consegna del valore più frequente</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T13:30:00.0000000Z|2023-09-30T14:15:00.0000000Z">sab 15:30 - 16:15
                </div>
                <div class="sz-session__time"><a href="Slides/12 - Federica Dante, Cosimo Paletta.pdf"
                    target="_blank">📄 Slide</a></div>
                <div class="sz-session__time"><a href="https://vimeo.com/876301806" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Normativo, software </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Prima o poi tutti cadiamo nella tela della normativa….<br>Vi offriamo un
                    punto di osservazione su un contesto complesso, con alta variabilità della normativa, tempi stretti
                    di risposta e necessità di alta precisione. </dd>
                </dl>
              </li>
              <li id="sz-session-513481" data-sessionid="513481"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191191">
                <ul class="sz-session__speakers">
                  <li data-speakerid="c4dbff35-6bc2-4c11-ac7c-de6a5dc3dad0"> <a
                      href="speaker-details.html?key=claudioSaurin" target="_blank">Claudio Saurin</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️Agile High Tech Hardware Development - A case Study <a
                    href="https://vimeo.com/872663076" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Perché sviluppare hardware ad alta tecnologia in modo agile?<br>Il
                  concurrent engineering è finalmente possibile in modo completo con team cross-funzionali numerosi.
                  <br>Le logiche iterative e incrementali sono efficaci nei laboratori di sviluppo hardware.<br>Il
                  valore portato al cliente guida i team oltre al concetto prodotto funzionante. <br>La pianificazione
                  agile è adattata ai tempi richiesti dallo sviluppo hardware<br>Tutto questo funziona solo se e quando
                  le persone cooperano in un modo nuovo.</p>
                <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T14:45:00.0000000Z|2023-09-30T15:30:00.0000000Z">sab 16:45 - 17:30
                </div>
                <div class="sz-session__time"><a href="Slides/13 - Claudio Saurin.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/872663076" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191191" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191191">Intermedio</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> hardware </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Che sviluppare prodotti hardware ad alta tecnologia in modo agile è
                    possibile e molto efficace. Che questa modalità di sviluppo realmente possibile nelle aziende
                    italiane che sviluppano prodotti fisici. Che lo sviluppo agile è adatto alla flessibilità e alla
                    creatività delle nostre imprese e delle loro persone. </dd>
                </dl>
              </li>
              <li id="sz-session-558543" data-sessionid="558543"
                class="sz-session sz-session--full sz-tag_54622-190408 sz-tag_54833-191190">
                <ul class="sz-session__speakers">
                  <li data-speakerid="b20d00aa-5a6c-4592-a7a2-12ad28b2d129"> <a
                      href="speaker-details.html?key=francescoRacanati" target="_blank">Francesco Racanati</a> </li>
                </ul>
                <h3 class="sz-session__title"> 🎙️ Tutto ciò che non avete mai avuto il coraggio di chiedere su Kanban!
                  [Versione 45'] <a href="https://vimeo.com/876309550" class="sz-session__video" target="_blank"><span
                      class="sz-hide-visually">Video</span></a> </h3>
                <p class="sz-session__description">Vi è mai capitato di trattenervi dal fare domande su un argomento
                  comune per evitare di sembrare disinformati?<br>Questo è ciò che accade spesso con Kanban.<br>Ad
                  esempio, molti hanno tracciato il proprio lavoro su una board almeno una volta nella vita. Tanti di
                  loro lo fanno perchè qualcun altro glielo chiede, ma non ne comprendono l’utilità. Eppure temono di
                  fare domande in merito per non apparire ignoranti o i soliti “bastian contrario” rispetto a questa
                  pratica.<br><br>L’intento del mio intervento è abbattere questo “imbarazzo” e magari sbloccare un
                  briciolo di consapevolezza in più infatti ho messo insieme le domande più frequenti (cosiddette FAQ)
                  che mi sono state rivolte durante le esperienze da "Kanbanizzatore" o "Kanbanista" in vari contesti
                  (immobiliare, farmaceutico, data analytics e sviluppo software).<br><br>Ovviamente sarò aperto a
                  riceverne di nuove dalla platea e raccogliere eventuali curiosità sull’argomento.</p>
                <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                <div class="sz-session__time"
                  data-sztz="DayTime|it-IT|2023-09-30T14:45:00.0000000Z|2023-09-30T15:30:00.0000000Z">sab 16:45 - 17:30
                </div>
                <div class="sz-session__time"><a href="Slides/07 - Francesco Racanati.pdf" target="_blank">📄 Slide</a>
                </div>
                <div class="sz-session__time"><a href="https://vimeo.com/876309550" target="_blank">▶️ Video</a></div>
                <ul class="sz-session__tags">
                  <li class="sz-tag sz-tag_54622-190408" data-categoryid="54622" data-categoryname="session_format"
                    data-tagid="190408">45' Talk</li>
                  <li class="sz-tag sz-tag_54833-191190" data-categoryid="54833"
                    data-categoryname="livello_dei_contenuti" data-tagid="191190">Per neofiti</li>
                </ul>
                <dl class="sz-session__questions">
                  <dt data-questionid="54832"> Ambito </dt>
                  <dd data-questionid="54832"> Gestione del knowledge work di qualsiasi ambito </dd>
                  <dt data-questionid="54626"> Cosa si porteranno a casa i partecipanti? </dt>
                  <dd data-questionid="54626"> Comprendere da cosa possono partire per iniziare a gestire il proprio
                    lavoro usando Kanban. </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>