<template id="tac-schedule">
  <link href="components/TacSchedule/tac-schedule.css" rel="stylesheet" type="text/css">
  <div class="container">
    <div class="section-header">
      <h2>Programma</h2>
      <p>Scopri il programma dell'evento</p>
    </div>   
    <div class="sessionize-loader">
      <div class="sz-root">
        <div id="sessionize" class="sessionize-wrapper">
          <link rel="stylesheet" href="https://sessionize.com/api/v2/v9w33xc4/embedstyle" media="screen">
          <div class="sz-timezone" style="display: none;">
            <div class="sz-timezone__radio sz-timezone__radio--local">
              <input type="radio" id="local-timezone" name="select-timezone" checked="">
              <label for="local-timezone">
                <span class="sz-timezone__name"></span>
                <span class="sz-timezone__tooltip" role="tooltip"></span>
              </label>
            </div>
            <svg class="icon-clock-time">
              <use xlink:href="#icon-clock-time"></use>
            </svg>
            <div class="sz-timezone__radio sz-timezone__radio--event">
              <input type="radio" id="event-timezone" name="select-timezone">
              <label for="event-timezone">
                <span class="sz-timezone__name"></span>
                <span class="sz-timezone__tooltip" role="tooltip"></span>
              </label>
            </div>
          </div>
          <style>
            .sz-cssgrid.sz-cssgrid--45199 {
              --fraction-size: auto;
              grid-template-rows:
                [tracks] auto [time-0815] var(--fraction-size) [time-0820] var(--fraction-size) [time-0825] var(--fraction-size) [time-0830] var(--fraction-size) [time-0835] var(--fraction-size) [time-0840] var(--fraction-size) [time-0845] var(--fraction-size) [time-0850] var(--fraction-size) [time-0855] var(--fraction-size) [time-0900] var(--fraction-size) [time-0905] var(--fraction-size) [time-0910] var(--fraction-size) [time-0915] var(--fraction-size) [time-0920] var(--fraction-size) [time-0925] var(--fraction-size) [time-0930] var(--fraction-size) [time-0935] var(--fraction-size) [time-0940] var(--fraction-size) [time-0945] var(--fraction-size) [time-0950] var(--fraction-size) [time-0955] var(--fraction-size) [time-1000] var(--fraction-size) [time-1005] var(--fraction-size) [time-1010] var(--fraction-size) [time-1015] var(--fraction-size) [time-1020] var(--fraction-size) [time-1025] var(--fraction-size) [time-1030] var(--fraction-size) [time-1035] var(--fraction-size) [time-1040] var(--fraction-size) [time-1045] var(--fraction-size) [time-1050] var(--fraction-size) [time-1055] var(--fraction-size) [time-1100] var(--fraction-size) [time-1105] var(--fraction-size) [time-1110] var(--fraction-size) [time-1115] var(--fraction-size) [time-1120] var(--fraction-size) [time-1125] var(--fraction-size) [time-1130] var(--fraction-size) [time-1135] var(--fraction-size) [time-1140] var(--fraction-size) [time-1145] var(--fraction-size) [time-1150] var(--fraction-size) [time-1155] var(--fraction-size) [time-1200] var(--fraction-size) [time-1205] var(--fraction-size) [time-1210] var(--fraction-size) [time-1215] var(--fraction-size) [time-1220] var(--fraction-size) [time-1225] var(--fraction-size) [time-1230] var(--fraction-size) [time-1235] var(--fraction-size) [time-1240] var(--fraction-size) [time-1245] var(--fraction-size) [time-1250] var(--fraction-size) [time-1255] var(--fraction-size) [time-1300] var(--fraction-size) [time-1305] var(--fraction-size) [time-1310] var(--fraction-size) [time-1315] var(--fraction-size) [time-1320] var(--fraction-size) [time-1325] var(--fraction-size) [time-1330] var(--fraction-size) [time-1335] var(--fraction-size) [time-1340] var(--fraction-size) [time-1345] var(--fraction-size) [time-1350] var(--fraction-size) [time-1355] var(--fraction-size) [time-1400] var(--fraction-size) [time-1405] var(--fraction-size) [time-1410] var(--fraction-size) [time-1415] var(--fraction-size) [time-1420] var(--fraction-size) [time-1425] var(--fraction-size) [time-1430] var(--fraction-size) [time-1435] var(--fraction-size) [time-1440] var(--fraction-size) [time-1445] var(--fraction-size) [time-1450] var(--fraction-size) [time-1455] var(--fraction-size) [time-1500] var(--fraction-size) [time-1505] var(--fraction-size) [time-1510] var(--fraction-size) [time-1515] var(--fraction-size) [time-1520] var(--fraction-size) [time-1525] var(--fraction-size) [time-1530] var(--fraction-size) [time-1535] var(--fraction-size) [time-1540] var(--fraction-size) [time-1545] var(--fraction-size) [time-1550] var(--fraction-size) [time-1555] var(--fraction-size) [time-1600] var(--fraction-size) [time-1605] var(--fraction-size) [time-1610] var(--fraction-size) [time-1615] var(--fraction-size) [time-1620] var(--fraction-size) [time-1625] var(--fraction-size) [time-1630] var(--fraction-size) [time-1635] var(--fraction-size) [time-1640] var(--fraction-size) [time-1645] var(--fraction-size) [time-1650] var(--fraction-size) [time-1655] var(--fraction-size) [time-1700] var(--fraction-size) [time-1705] var(--fraction-size) [time-1710] var(--fraction-size) [time-1715] var(--fraction-size) [time-1720] var(--fraction-size) [time-1725] var(--fraction-size) [time-1730] var(--fraction-size) [time-1735] var(--fraction-size) [time-1740] var(--fraction-size) [time-1745] var(--fraction-size) [time-1750] var(--fraction-size) [time-1755] var(--fraction-size) [time-1800] var(--fraction-size);
              grid-template-columns:
                [times] 4em [track-36741-start] 1fr [track-36741-end track-36742-start] 1fr [track-36742-end track-36743-start] 1fr [track-36743-end track-38199-start] 1fr [track-38199-end];
            }
          </style>
          <div class="sz-tab-container sz-tab-container--active" id="sz-tab-45199">
            <h1 class="sz-day__title" data-sztz="DayDate|it-IT|2023-09-30T06:15:00.0000000Z|2023-09-30T16:00:00.0000000Z">sabato 30 settembre 2023</h1>
            <div class="sz-cssgrid sz-cssgrid--45199">
              <span class="sz-cssgrid__track-label sz-room sz-room--36741" style="grid-column: track-36741; grid-row: tracks;">Sala Keplero</span>
              <span class="sz-cssgrid__track-label sz-room sz-room--36742" style="grid-column: track-36742; grid-row: tracks;">Sala Mendel</span>
              <span class="sz-cssgrid__track-label sz-room sz-room--36743" style="grid-column: track-36743; grid-row: tracks;">Sala workshop</span>
              <span class="sz-cssgrid__track-label sz-room sz-room--38199" style="grid-column: track-38199; grid-row: tracks;">Sala Timina</span>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-0815/span 3" data-sztz="Time|it-IT|2023-09-30T06:15:00.0000000Z">08:15</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-0815; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="2846d3f9-912a-48e6-99a0-26b35105f065" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--38364 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-0815 / time-0915;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38364" class="sz-session__room">Networking</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T06:15:00.0000000Z|2023-09-30T07:15:00.0000000Z">08:15 → 60 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Registrazione</span>
                  </h3>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-0915/span 3" data-sztz="Time|it-IT|2023-09-30T07:15:00.0000000Z">09:15</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-0915; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="979c8808-7ebf-4742-831f-4d54514e84d7" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--36741 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-0915 / time-0940;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T07:15:00.0000000Z|2023-09-30T07:40:00.0000000Z">09:15 → 25 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Apertura</span>
                    <a href="https://vimeo.com/881839395" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-0940/span 3" data-sztz="Time|it-IT|2023-09-30T07:40:00.0000000Z">09:40</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-0940; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="520070" class="sz-session sz-session--cssgrid  sz-session--plenum  sz-room--36741 sz-tag_54622-190408" style="grid-column: track-36741-start / track-38199-end; grid-row: time-0940 / time-1030;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T07:40:00.0000000Z|2023-09-30T08:30:00.0000000Z">09:40 → 50 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-520070">What Agile Can Learn from Lean Manufacturing — and vice versa</a>
                    <a href="https://vimeo.com/872652327" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="5276fa96-c624-48e4-8cac-8227d810419d">
                      <a href="speaker-details.html?key=andreaProvaglio" target="_blank">Andrea Provaglio</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1030/span 3" data-sztz="Time|it-IT|2023-09-30T08:30:00.0000000Z">10:30</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1030; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="9e520d45-df6b-406f-82c6-17e945019a7b" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--38364 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-1030 / time-1100;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38364" class="sz-session__room">Networking</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T08:30:00.0000000Z|2023-09-30T09:00:00.0000000Z">10:30 → 30 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Coffee Break</span>
                  </h3>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1100/span 3" data-sztz="Time|it-IT|2023-09-30T09:00:00.0000000Z">11:00</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1100; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="514626" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190408" style="grid-column: track-36741; grid-row: time-1100 / time-1145;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T09:45:00.0000000Z">11:00 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-514626">🎙️Principi Agile per prodotti spaziali</a>
                    <a href="https://vimeo.com/874395900" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="0d53eef6-76df-46ae-949f-2d567e98f4cc">
                      <a href="speaker-details.html?key=niccoloBattezzati" target="_blank">Niccolò Battezzati</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="513914" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190408" style="grid-column: track-36742; grid-row: time-1100 / time-1145;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T09:45:00.0000000Z">11:00 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-513914">🎙️Innovarsi e Rinnovarsi. Step out of your comfort zone, step into Agile.</a>
                    <a href="https://vimeo.com/874712343" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="e5746aa5-5bfe-4a58-bf97-080767ee9e6b">
                      <a href="speaker-details.html?key=valeriaBurdi" target="_blank">Valeria Burdi</a>
                    </li>
                    <li data-speakerid="c954e480-6792-4938-8e79-193497649113">
                      <a href="speaker-details.html?key=carmelaFlaminio" target="_blank">Carmela Flaminio</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="513364" class="sz-session sz-session--cssgrid    sz-room--36743 sz-tag_54622-190409" style="grid-column: track-36743; grid-row: time-1100 / time-1230;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36743" class="sz-session__room">Sala workshop</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T10:30:00.0000000Z">11:00 → 90 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-513364">🛠️CoLabo: coltiva un ambiente aziendale positivo</a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="9fc7ecbe-9e48-4aa9-a49f-e39bf1168b60">
                      <a href="speaker-details.html?key=matteoTortelli" target="_blank">Matteo Tortelli</a>
                    </li>
                    <li data-speakerid="6f369af3-938a-4393-a718-8b5b16e9fd60">
                      <a href="speaker-details.html?key=valerioAcerbis" target="_blank">Valerio Acerbis</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190409" data-tagid="190409" data-categoryid="54622" data-categoryname="session_format">90' Workshop</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="513860" class="sz-session sz-session--cssgrid    sz-room--38199 sz-tag_54622-190409" style="grid-column: track-38199; grid-row: time-1100 / time-1230;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38199" class="sz-session__room">Sala Timina</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:00:00.0000000Z|2023-09-30T10:30:00.0000000Z">11:00 → 90 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-513860">🛠️Agile werewolves</a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="5c928a4a-7e97-4b0f-bc4d-80517467ac01">
                      <a href="speaker-details.html?key=carloDiDomenico" target="_blank">Carlo Di Domenico</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190409" data-tagid="190409" data-categoryid="54622" data-categoryname="session_format">90' Workshop</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1155/span 3" data-sztz="Time|it-IT|2023-09-30T09:55:00.0000000Z">11:55</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1155; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="510859" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190408" style="grid-column: track-36741; grid-row: time-1155 / time-1240;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:55:00.0000000Z|2023-09-30T10:40:00.0000000Z">11:55 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-510859">🎙️Agility and Generative AI: friends or foes?</a>
                    <a href="https://vimeo.com/872699039" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="ffe89d7c-0398-4f95-9c43-c1b070bc4334">
                      <a href="speaker-details.html?key=emilianoSoldi" target="_blank">Emiliano Soldi</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="510920" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190408" style="grid-column: track-36742; grid-row: time-1155 / time-1240;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T09:55:00.0000000Z|2023-09-30T10:40:00.0000000Z">11:55 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-510920">🎙️Agile HR - Racconti dal fronte</a>
                    <a href="https://vimeo.com/876293563" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="d67bfb4f-209a-46d6-a495-2b45c619da2f">
                      <a href="speaker-details.html?key=paoloPustorino" target="_blank">Paolo Pustorino</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1250/span 3" data-sztz="Time|it-IT|2023-09-30T10:50:00.0000000Z">12:50</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1250; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="500102" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190423" style="grid-column: track-36741; grid-row: time-1250 / time-1310;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T10:50:00.0000000Z|2023-09-30T11:10:00.0000000Z">12:50 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-500102">⚡L'eterno conflitto tra efficacia ed efficienza</a>
                    <a href="https://vimeo.com/872666551" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="b48496d5-ca6d-4605-8eaa-6d650f82a7dd">
                      <a href="speaker-details.html?key=alessandroGiardina" target="_blank">Alessandro Giardina</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="511869" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190423" style="grid-column: track-36742; grid-row: time-1250 / time-1310;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T10:50:00.0000000Z|2023-09-30T11:10:00.0000000Z">12:50 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-511869">⚡Quarterfall Planning</a>
                    <a href="https://vimeo.com/881836621" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="7ad7746e-202f-4df9-aa11-e83387697ed1">
                      <a href="speaker-details.html?key=andreaGelli" target="_blank">Andrea Gelli</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1310/span 3" data-sztz="Time|it-IT|2023-09-30T11:10:00.0000000Z">13:10</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1310; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="91dc91ca-2c14-47b6-8c5f-85909667f20d" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--38364 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-1310 / time-1430;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38364" class="sz-session__room">Networking</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T11:10:00.0000000Z|2023-09-30T12:30:00.0000000Z">13:10 → 80 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Pranzo</span>
                  </h3>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1430/span 3" data-sztz="Time|it-IT|2023-09-30T12:30:00.0000000Z">14:30</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1430; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="510889" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190423" style="grid-column: track-36741; grid-row: time-1430 / time-1450;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T12:50:00.0000000Z">14:30 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-510889">⚡Tutto ciò che non avete mai avuto il coraggio di chiedere su Kanban!</a>
                    <a href="https://vimeo.com/874395086" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="b20d00aa-5a6c-4592-a7a2-12ad28b2d129">
                      <a href="speaker-details.html?key=francescoRacanati" target="_blank">Francesco Racanati</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="514051" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190423" style="grid-column: track-36742; grid-row: time-1430 / time-1450;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T12:50:00.0000000Z">14:30 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-514051">⚡Un mindset Agile per costruire la strategia di business</a>
                    <a href="https://vimeo.com/881837721" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="53d8b802-b405-4242-8828-a8ecb95a7760">
                      <a href="speaker-details.html?key=annaDeambrosis" target="_blank">Anna Deambrosis</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="499297" class="sz-session sz-session--cssgrid    sz-room--36743 sz-tag_54622-190409" style="grid-column: track-36743; grid-row: time-1430 / time-1600;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36743" class="sz-session__room">Sala workshop</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T14:00:00.0000000Z">14:30 → 90 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-499297">🛠️Perché le cose vanno sempre peggio dei piani?</a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="f60639ab-a066-43d3-b187-3a125a82b363">
                      <a href="speaker-details.html?key=jacopoRomei" target="_blank">Jacopo Romei</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190409" data-tagid="190409" data-categoryid="54622" data-categoryname="session_format">90' Workshop</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="515216" class="sz-session sz-session--cssgrid    sz-room--38199 sz-tag_54622-190409" style="grid-column: track-38199; grid-row: time-1430 / time-1600;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38199" class="sz-session__room">Sala Timina</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T12:30:00.0000000Z|2023-09-30T14:00:00.0000000Z">14:30 → 90 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-515216">🛠️Sprint per Contenuti di Marketing Efficaci: Accelera il Tuo Flusso di Creazione 💡</a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="4ce00b58-d133-4452-b9a8-9ecffdd43c7f">
                      <a href="speaker-details.html?key=deborahGhisolfi" target="_blank">Deborah Ghisolfi</a>
                    </li>
                    <li data-speakerid="99afb669-9a13-4780-bbae-b60f71fd75e1">
                      <a href="speaker-details.html?key=cassandraCavalleri" target="_blank">Cassandra Cavalleri</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190409" data-tagid="190409" data-categoryid="54622" data-categoryname="session_format">90' Workshop</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1500/span 3" data-sztz="Time|it-IT|2023-09-30T13:00:00.0000000Z">15:00</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1500; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="511696" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190423" style="grid-column: track-36741; grid-row: time-1500 / time-1520;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T13:00:00.0000000Z|2023-09-30T13:20:00.0000000Z">15:00 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-511696">⚡Evitate gli OKR se...</a>
                    <a href="https://vimeo.com/874394183" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="f10a9f19-4f8a-419f-b028-f41c1b41f821">
                      <a href="speaker-details.html?key=francescoFullone" target="_blank">Francesco Fullone</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="514604" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190423" style="grid-column: track-36742; grid-row: time-1500 / time-1520;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T13:00:00.0000000Z|2023-09-30T13:20:00.0000000Z">15:00 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-514604">⚡Agile at School. La rivoluzione dell'educazione.</a>
                    <a href="https://vimeo.com/876312990" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="d481a302-9b39-494b-82ca-f2152e38cdbd">
                      <a href="speaker-details.html?key=almaDelCampo" target="_blank">Alma del Campo</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190423" data-tagid="190423" data-categoryid="54622" data-categoryname="session_format">20' Lightning Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1530/span 3" data-sztz="Time|it-IT|2023-09-30T13:30:00.0000000Z">15:30</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1530; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="512882" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190408" style="grid-column: track-36741; grid-row: time-1530 / time-1615;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T13:30:00.0000000Z|2023-09-30T14:15:00.0000000Z">15:30 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-512882">🎙️Accelerare l'Innovazione: Agile nell'Industria Automobilistica</a>
                    <a href="https://vimeo.com/874392399" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="5bc89e09-4e4c-4c79-a364-3c74c1e7df93">
                      <a href="speaker-details.html?key=feliceDeRobertis" target="_blank">Felice de Robertis</a>
                    </li>
                    <li data-speakerid="6b9622e8-df32-4fed-8d65-3e2787ff217e">
                      <a href="speaker-details.html?key=nicolaLobusto" target="_blank">Nicola Lobusto</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="513789" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190408" style="grid-column: track-36742; grid-row: time-1530 / time-1615;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T13:30:00.0000000Z|2023-09-30T14:15:00.0000000Z">15:30 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-513789">🎙️O vinco o imparo: come praticare l’agilità in un contesto normativo complesso e a tratti caotico.</a>
                    <a href="https://vimeo.com/876301806" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="36440781-9073-49eb-a057-82073ec567f4">
                      <a href="speaker-details.html?key=federicaDante" target="_blank">Federica Dante</a>
                    </li>
                    <li data-speakerid="45b0d936-eaf3-40de-a8df-142f94c464df">
                      <a href="speaker-details.html?key=cosimoPaletta" target="_blank">Cosimo Paletta</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1615/span 3" data-sztz="Time|it-IT|2023-09-30T14:15:00.0000000Z">16:15</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1615; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="6dff3c25-2121-4406-8eef-8b41370c0e8e" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--38364 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-1615 / time-1645;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="38364" class="sz-session__room">Networking</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T14:15:00.0000000Z|2023-09-30T14:45:00.0000000Z">16:15 → 30 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Coffee Break</span>
                  </h3>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1645/span 3" data-sztz="Time|it-IT|2023-09-30T14:45:00.0000000Z">16:45</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1645; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="513481" class="sz-session sz-session--cssgrid    sz-room--36741 sz-tag_54622-190408" style="grid-column: track-36741; grid-row: time-1645 / time-1730;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T14:45:00.0000000Z|2023-09-30T15:30:00.0000000Z">16:45 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-513481">🎙️Agile High Tech Hardware Development - A case Study</a>
                    <a href="https://vimeo.com/872663076" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="c4dbff35-6bc2-4c11-ac7c-de6a5dc3dad0">
                      <a href="speaker-details.html?key=claudioSaurin" target="_blank">Claudio Saurin</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <div data-sessionid="558543" class="sz-session sz-session--cssgrid    sz-room--36742 sz-tag_54622-190408" style="grid-column: track-36742; grid-row: time-1645 / time-1730;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36742" class="sz-session__room">Sala Mendel</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T14:45:00.0000000Z|2023-09-30T15:30:00.0000000Z">16:45 → 45 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <a href="#sz-session-558543">🎙️ Tutto ciò che non avete mai avuto il coraggio di chiedere su Kanban! [Versione 45']</a>
                    <a href="https://vimeo.com/876309550" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                  <ul class="sz-session__speakers">
                    <li data-speakerid="b20d00aa-5a6c-4592-a7a2-12ad28b2d129">
                      <a href="speaker-details.html?key=francescoRacanati" target="_blank">Francesco Racanati</a>
                    </li>
                  </ul>
                  <ul class="sz-session__tags">
                    <li class="sz-tag sz-tag_54622-190408" data-tagid="190408" data-categoryid="54622" data-categoryname="session_format">45' Talk</li>
                  </ul>
                </div>
              </div>
              <h2 class="sz-cssgrid__time-label " style="grid-row: time-1740/span 3" data-sztz="Time|it-IT|2023-09-30T15:40:00.0000000Z">17:40</h2>
              <span class="sz-cssgrid__time-separator " style="grid-row: time-1740; grid-column: times/track-38199-end;"></span>
              <div data-sessionid="50ded995-1573-4177-ac8d-7408a4c90cb3" class="sz-session sz-session--cssgrid  sz-session--plenum sz-session--service sz-room--36741 " style="grid-column: track-36741-start / track-38199-end; grid-row: time-1740 / time-1800;">
                <div class="sz-session__card">
                  <div class="sz-session__meta-group">
                    <div data-roomid="36741" class="sz-session__room">Sala Keplero</div>
                    <div class="sz-session__time" data-sztz="TimeWithDuration|it-IT|2023-09-30T15:40:00.0000000Z|2023-09-30T16:00:00.0000000Z">17:40 → 20 min</div>
                  </div>
                  <h3 class="sz-session__title">
                    <span>Chiusura</span>
                    <a href="https://vimeo.com/881839121" class="sz-session__video" target="_blank">
                      <span class="sz-hide-visually">Video</span>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <small class="sz-powered-by">
            <a href="https://sessionize.com/">
              <span>Session and Speaker Management</span> powered by <strong>Sessionize.com</strong>
            </a>
          </small>
          <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <symbol id="icon-company_website" viewBox="0 0 24 24">
                <path d="M20.854 2.148c0 0-0.001-0.001-0.002-0.002l-1.999-1.999c-0.093-0.094-0.22-0.147-0.353-0.147h-13c-0.133 0-0.26 0.053-0.353 0.147l-2 1.999c-0.002 0.001-0.002 0.002-0.002 0.002-0.093 0.095-0.145 0.246-0.145 0.352v21c0 0.276 0.224 0.5 0.5 0.5h6.5v-4.5c0-0.277 0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.223 0.5 0.5v4.5h6.5c0.276 0 0.5-0.224 0.5-0.5v-21c0-0.106-0.054-0.261-0.146-0.352zM9 17h-4v-3h4v3zM9 12h-4v-3h4v3zM9 7h-4v-3h4v3zM14 17h-4v-3h4v3zM14 12h-4v-3h4v3zM14 7h-4v-3h4v3zM19 17h-4v-3h4v3zM19 12h-4v-3h4v3zM19 7h-4v-3h4v3zM4.707 2l1-1h12.586l1 1h-14.586z"></path>
              </symbol>
              <symbol id="icon-blog" viewBox="0 0 24 24">
                <path d="M0.351 23.095c-0.040 0.168 0.011 0.345 0.133 0.468 0.118 0.119 0.292 0.174 0.468 0.133 0 0 6.55-1.543 6.588-1.563l-5.625-5.625c-0.021 0.037-1.564 6.587-1.564 6.587z"></path>
                <path d="M15.836 2.554l0.707-0.707 5.655 5.659-0.707 0.707-5.655-5.659z"></path>
                <path d="M2.606 15.784l12.521-12.521 5.657 5.657-12.521 12.521-5.657-5.657z"></path>
                <path d="M22.905 6.799l0.354-0.354c0.975-0.974 0.975-2.56 0-3.535l-2.121-2.12c-0.472-0.474-1.1-0.733-1.768-0.733s-1.296 0.26-1.768 0.733l-0.354 0.352 5.657 5.657z"></path>
              </symbol>
              <symbol id="icon-linkedin" viewBox="0 0 24 24">
                <path d="M6.527 21.5h-5v-13h5v13zM4.018 6.5h-0.030c-1.511 0-2.488-1.182-2.488-2.481 0-1.329 1.008-2.412 2.547-2.412 1.541 0 2.488 1.118 2.519 2.447-0.001 1.299-0.978 2.446-2.548 2.446zM15.527 12.5c-1.105 0-2 0.896-2 2v7h-5c0 0 0.059-12 0-13h5v1.485c0 0 1.548-1.443 3.938-1.443 2.962 0 5.062 2.144 5.062 6.304v6.654h-5v-7c0-1.104-0.895-2-2-2z"></path>
              </symbol>
              <symbol id="icon-other" viewBox="0 0 24 24">
                <path d="M14.474 10.232l-0.706-0.706c-1.56-1.56-4.098-1.562-5.658-0.001l-4.597 4.597c-1.56 1.56-1.56 4.097 0 5.657l0.707 0.706c0.756 0.757 1.76 1.173 2.829 1.173 1.068 0 2.072-0.417 2.827-1.172l2.173-2.171c0.391-0.391 0.391-1.024 0-1.414-0.391-0.392-1.023-0.392-1.414 0l-2.173 2.17c-0.755 0.756-2.071 0.757-2.828 0l-0.707-0.706c-0.779-0.781-0.779-2.049 0-2.829l4.597-4.596c0.756-0.756 2.073-0.756 2.828 0l0.707 0.707c0.391 0.391 1.023 0.391 1.414 0s0.391-1.024 0.001-1.415z"></path>
                <path d="M20.486 4.221l-0.707-0.706c-0.756-0.757-1.76-1.173-2.829-1.173-1.068 0-2.072 0.418-2.827 1.172l-1.988 1.986c-0.391 0.391-0.391 1.024 0 1.414 0.391 0.392 1.023 0.392 1.414 0l1.988-1.984c0.755-0.756 2.071-0.757 2.828 0l0.707 0.706c0.779 0.78 0.779 2.049 0 2.829l-4.597 4.596c-0.756 0.756-2.073 0.756-2.828 0-0.391-0.391-1.024-0.391-1.414 0-0.391 0.391-0.392 1.023-0.001 1.414 1.56 1.562 4.098 1.562 5.657 0.001l4.597-4.597c1.56-1.56 1.56-4.098 0-5.658z"></path>
              </symbol>
              <symbol id="icon-sessionize" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 018 8v6.667c0 .736-.597 1.333-1.333 1.333H1.333A1.333 1.333 0 010 14.667V1.333C0 .597.597 0 1.333 0H8zm0 0L2.667 12c0 .444.11.778.333 1 .222.222.556.333 1 .333l.125.001c2.513.027 3.542.863 3.542 2.666h2l-.001-.113c-.033-1.93-.899-3.268-2.473-3.973L16 8l-.423-.148C13.764 7.189 12.238 6.238 11 5 9.762 3.762 8.811 2.236 8.148.423L8 0zm4.805 3.195c-.521-.52-1.154-.731-1.414-.471s-.05.893.47 1.414c.522.52 1.155.732 1.415.471.26-.26.05-.893-.471-1.414z"></path>
              </symbol>
              <symbol id="icon-twitter" viewBox="0 0 24 24">
                <path d="M23.444 4.834c-0.814 0.363-1.5 0.375-2.227 0.016 0.938-0.562 0.981-0.957 1.32-2.019-0.878 0.521-1.851 0.9-2.886 1.104-0.828-0.882-2.009-1.435-3.316-1.435-2.51 0-4.544 2.036-4.544 4.544 0 0.356 0.040 0.703 0.117 1.036-3.776-0.189-7.125-1.998-9.366-4.748-0.391 0.671-0.615 1.452-0.615 2.285 0 1.577 0.803 2.967 2.021 3.782-0.745-0.024-1.445-0.228-2.057-0.568-0.001 0.019-0.001 0.037-0.001 0.057 0 2.202 1.566 4.038 3.646 4.456-0.666 0.181-1.368 0.209-2.053 0.079 0.579 1.804 2.257 3.118 4.245 3.155-1.945 1.524-4.356 2.159-6.728 1.881 2.012 1.289 4.399 2.041 6.966 2.041 8.358 0 12.928-6.924 12.928-12.929 0-0.198-0.003-0.393-0.012-0.588 0.887-0.64 1.953-1.237 2.562-2.149z"></path>
              </symbol>
              <symbol id="icon-instagram" viewBox="0 0 32 32">
                <path d="M22.987 0a9 9 0 019 9v14a9 9 0 01-9 9h-14a9 9 0 01-9-9V9a9 9 0 019-9h14zm0 2h-14a7 7 0 00-7 7v14a7 7 0 007 7h14a7 7 0 007-7V9a7 7 0 00-7-7zm-7 6.333a7.667 7.667 0 110 15.334 7.667 7.667 0 010-15.334zm0 2a5.667 5.667 0 100 11.333 5.667 5.667 0 000-11.333zM25.12 5.2a1.667 1.667 0 01.171 3.325l-.17.009c-.92 0-1.667-.746-1.667-1.667v-.015A1.667 1.667 0 0125.121 5.2z"></path>
              </symbol>
              <symbol id="icon-facebook" viewBox="0 0 32 32">
                <path d="M19.493 9.333V7.786c-.014-.194.016-.288.08-.358s.154-.11.248-.109h4.005a1 1 0 001-1V.986a1 1 0 00-1-1h-5.773c-5.006 0-7.227 3.227-7.227 7.48v1.867h-3a1 1 0 00-1 1v5.333a1 1 0 001 1h3v14.333a1 1 0 001 1h6.667a1 1 0 001-1V16.666h4.133a1 1 0 00.995-.898l.547-5.333a1 1 0 00-.995-1.102h-4.68zm3.231 5.334h-4.231a1 1 0 00-1 1V30h-4.667V15.667a1 1 0 00-1-1h-3v-3.333h3a1 1 0 001-1V7.467c0-3.273 1.519-5.48 5.227-5.48h4.773V5.32h-3a2.33 2.33 0 00-2.328 2.567l-.005 2.447a1 1 0 001 1h4.572l-.342 3.333z"></path>
              </symbol>
              <symbol id="icon-clock-time" viewBox="0 0 24 24">
                <path d="M12 0.5c6.351 0 11.5 5.149 11.5 11.5s-5.149 11.5-11.5 11.5c-6.351 0-11.5-5.149-11.5-11.5s5.149-11.5 11.5-11.5zM12 2.5c-5.247 0-9.5 4.253-9.5 9.5s4.253 9.5 9.5 9.5c5.247 0 9.5-4.253 9.5-9.5s-4.253-9.5-9.5-9.5zM12 7.25c0.513 0 0.936 0.386 0.993 0.883l0.007 0.117v3.335l4.394 4.396c0.39 0.391 0.39 1.024-0 1.414-0.361 0.36-0.928 0.388-1.32 0.083l-0.094-0.083-4.687-4.688-0.073-0.082c-0.002-0.003-0.005-0.006-0.007-0.009l0.080 0.090c-0.035-0.035-0.068-0.073-0.097-0.112-0.018-0.024-0.035-0.049-0.050-0.075-0.008-0.012-0.015-0.024-0.021-0.037-0.011-0.020-0.021-0.040-0.031-0.061-0.008-0.017-0.015-0.034-0.022-0.052-0.008-0.020-0.015-0.039-0.022-0.060-0.005-0.015-0.009-0.030-0.014-0.046-0.006-0.021-0.011-0.043-0.016-0.065-0.003-0.017-0.007-0.035-0.009-0.052-0.002-0.010-0.003-0.021-0.004-0.032l-0.003-0.028c-0.002-0.023-0.003-0.046-0.004-0.069l-0-0.020v-3.75c0-0.552 0.448-1 1-1z"></path>
              </symbol>
            </defs>
          </svg>
          <div id="sz-modal-container" class="sz-modal-container is-hidden"></div>
        </div>
      </div>
    </div>
  </div>
</template>