.speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.speaker .details {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.speaker .details h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.speaker .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

.speaker .details .social {
  height: 40px;
}

.speaker .details .social i {
  line-height: 0;
  margin: 0 5px;
}

.speaker .details a {
  color: #fff;
}

.speaker .details a:hover {
  color: #E0BE36;
}

.speaker:hover .details {
  bottom: 0;
}