<template id="speaker-card">
  <link href="components/SpeakerCard/speaker-card.css" rel="stylesheet" type="text/css">  
  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
    <img src="/" id="speaker-img" alt="Unknown speaker" class="img-fluid">
    <div class="details">
      <h3><a id="speaker-name" href="speaker-details.html" target="_blank">Brenden Legros</a></h3>
      <p id="speaker-summary" class="d-none d-lg-block">Quas alias incidunt</p>
      <div id="speaker-social" class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</template>