#hotels .hotel {
  border: 1px solid #e0e5fa;
  background: #fff;
  margin-bottom: 30px;
}

#hotels .hotel:hover .hotel-img img {
  transform: scale(1.1);
}

#hotels .hotel-img {
  overflow: hidden;
  margin-bottom: 15px;
}

#hotels .hotel-img img {
  transition: 0.3s ease-in-out;
}

#hotels h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 20px;
}

#hotels a {
  color: #152b79;
}

#hotels a:hover {
  color: #E0BE36;
}

#hotels .stars {
  padding: 0 20px;
  margin-bottom: 5px;
}

#hotels .stars i {
  color: rgb(255, 195, 29);
}

#hotels p {
  padding: 0 20px;
  margin-bottom: 10px;
  color: #060c22;
  font-style: italic;
  font-size: 15px;
}

#hotels p.end-aligned {
  padding-right: 20px;
  padding-left: 0;
}

#hotels .row {
  padding-left: 10px;
}

#hotels .end-aligned {
  text-align: end;
}


/* Gestione accordion */

#hotels .info {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #E0BE36;
  transition: 0.3s;
  margin: 0 0 10px 20px;
}

#hotels .info i {
  font-size: 16px;
  margin-left: 5px;
}

#hotels .info p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#hotels .hotel .icon-show {
  display: none;
}

#hotels .hotel .collapsed {
  color: #0e1b4d;
  font-weight: 700;
}

#hotels .hotel .collapsed:hover {
  color: #E0BE36;
}

#hotels .hotel .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

#hotels .hotel .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}
