<template id="tac-hotels">
  <link href="components/TacHotels/tac-hotels.css" rel="stylesheet" type="text/css">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Hotels</h2>
      <p>Questi sono alcuni hotel convenzionati nelle vicinanze</p>
    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6 col-md-12">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/hotels/duparc-contemporary-suites-luxury-junior-suite.jpg" alt="DUPARC Contemporary Suites" class="img-fluid">
          </div>
          <h3>
            <a href="https://www.duparcsuites.com/" target="_blank">DUPARC Contemporary Suites</a>
          </h3>
          <div class="row">
            <div class="col-md-5 col-lg-4 stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="col-md-7 col-lg-8">
              <p class="end-aligned">600 mt dalla sede dell'evento</p>
            </div>
          </div>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed info">20% di sconto con il codice "Agile #TAC23"<i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>Per avere tutti i dettagli dell'offerta ed usufruire della convenzione, identificarsi con il codice “Agile #TAC23”, via e-mail, telefono o con il
                form dei <a href="https://www.duparcsuites.com/contattaci" target="_blank" style="font-weight: bold;">contatti</a>. <br />
                Per prenotazioni effettuate mediante altri canali non sarà possibile applicare la scontistica.

            </p>
          </div>
        </div>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="assets/img/hotels/hotel-eden.jpg" alt="Hotel Eden" class="img-fluid">
            </div>
            <h3>
              <a href="https://www.hoteledentorino.it/ita/" target="_blank">Hotel Eden</a>
            </h3>
            <div class="row">
              <div class="col-md-5 col-lg-4 stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="col-md-7 col-lg-8">
                <p class="end-aligned">350 mt dalla sede dell'evento</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="assets/img/hotels/hotel-plaza.jpg" alt="Hotel Plaza" class="img-fluid">
            </div>
            <h3>
              <a href="https://www.hotelplazatorino.it/" target="_blank">Hotel Plaza</a>
            </h3>
            <div class="row">
              <div class="col-md-5 col-lg-4 stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="col-md-7 col-lg-8">
                <p class="end-aligned">450 mt dalla sede dell'evento</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="assets/img/hotels/hotel-best-western.jpg" alt="Best Western Plus Executive Hotel" class="img-fluid">
            </div>
            <h3>
              <a href="https://www.hotelexecutivetorino.com/" target="_blank">Best Western Hotel</a>
            </h3>
              <div class="row">
                <div class="col-md-5 col-lg-5 stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <div class="col-md-7 col-lg-7">
                  <p class="end-aligned">650 mt dalla sede dell'evento</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="assets/img/hotels/hotel-continental.jpg" alt="Hotel Continental" class="img-fluid">
            </div>
            <h3>
              <a href="https://www.continental.to.it/it/" target="_blank">Hotel Continental</a>
            </h3>
            <div class="row">
              <div class="col-md-5 col-lg-4 stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <div class="col-md-7 col-lg-8">
                <p class="end-aligned">950 mt dalla sede dell'evento</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
          </div>
          <h3><a href="#">Hotel 2</a></h3>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="fa fa-star-half-stroke"></i>
          </div>
          <p>0.5 Mile from the Venue</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
          </div>
          <h3><a href="#">Hotel 3</a></h3>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p>0.6 Mile from the Venue</p>
        </div>
      </div> -->

    </div>
  </div>
</template> 