<template id="tac-venue">
  <link href="components/TacVenue/tac-venue.css" rel="stylesheet" type="text/css">
  <div class="container-fluid" data-aos="fade-up">

    <div class="section-header">
      <h2>Luogo dell'evento</h2>
      <p>Mappa e informazioni della location</p>
    </div>

    <div class="row g-0">
      <div class="col-lg-6 venue-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2818.765146599183!2d7.673554900000001!3d45.04998750000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d488b3d3129%3A0x503c134a2c314919!2sMolecular%20Biotechnology%20Center!5e0!3m2!1sen!2sit!4v1689251043597!5m2!1sen!2sit"
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6 venue-info">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-8 position-relative">
            <h3>MBC Centro di Biotecnologie Molecolari, Torino</h3>
            <p>
              Il Cento di Biotecnologie Molecolari, attivo dal settembre del 2006, è un'eccellenza nella ricerca biomedica
              multidisciplinare grazie ala collaborazione di ricercatori aventi differenti background scientifici.
              Gli obiettivi della ricerca sono rivolti principalmente allo sviluppo delle più avanzate tecnologie di Imaging
              Molecolare, all'analisi bioinformatica e alla generazione di modelli animali.
            </p>
            <p>
              <br />All'interno del Centro si svolgono anche attività volte al trasferimento Tecnologico necessario a creare
              importanti sinergie tra il mondo della ricerca accademica e le principali aziende operanti nel settore delle
              Biotecnologie. Il centro offre laboratori, il know-how scientifico e la conoscenza utili per lo sviluppo di brevetti
              e per la promozione di interazioni con le aziende.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">

      <div class="col-lg-3 col-md-4 venue-item">
        <div class="venue-gallery">
          <a href="assets/img/venue-gallery/ingresso.jpg" class="glightbox" data-gall="venue-gallery" data-description="Ingresso - Networking">
            <img src="assets/img/venue-gallery/low-res/ingresso.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="details">
          <span>Ingresso - Networking</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 venue-item">
        <div class="venue-gallery">
          <a href="assets/img/venue-gallery/Kepler.jpg" class="glightbox" data-gall="venue-gallery" data-description="Sala Keplero">
            <img src="assets/img/venue-gallery/low-res/Kepler.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="details">
          <span>Sala Keplero</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 venue-item">
        <div class="venue-gallery">
          <a href="assets/img/venue-gallery/Mendel.jpg" class="glightbox" data-gall="venue-gallery" data-description="Sala Mendel">
            <img src="assets/img/venue-gallery/low-res/Mendel.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="details">
          <span>Sala Mendel</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 venue-item">
        <div class="venue-gallery">
          <a href="assets/img/venue-gallery/Workshop.jpg" class="glightbox" data-gall="venue-gallery" data-description="Sala workshop">
            <img src="assets/img/venue-gallery/low-res/Workshop.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="details">
          <span>Sala workshop</span>
        </div>
      </div>
    </div>
  </div>

  </div>
</template>