#venue .container-fluid {
  margin-bottom: 3px;
}

#venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#venue .venue-info {
  background: url("../../assets/img/2i3t-info-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#venue .venue-info:before {
  content: "";
  background: rgba(192, 52, 85, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#venue .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 574px) {
  #venue .venue-info h3 {
    font-size: 24px;
  }
}

#venue .venue-info p {
  color: #fff;
  margin-bottom: 0;
}

#venue .venue-gallery-container {
  padding-right: 12px;
}

#venue .venue-gallery {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#venue .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
  transform: scale(1.1);
}

.venue-item .details {
  background: rgba(6, 12, 34, 0.76);
  left: 0;
  right: 0;
  top: -46px;
  position: relative;
  text-align: center;
  padding: 5px 0;
  border-right: 3px solid #fff;
}

.venue-item .details span {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

#venue .venue-transport-container {
  padding-right: 12px;
}

#venue .venue-transport {
  overflow: hidden;
  border-top: 10px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  height: 230px;
}

#venue .venue-transport img {
  transition: all ease-in-out 0.4s;
}

#venue .venue-transport:hover img {
  transform: scale(1.1);
}

.venue-trasnportitem .details {
  background: rgba(6, 12, 34, 0.76);
  left: 0;
  right: 0;
  top: -46px;
  position: relative;
  text-align: center;
  padding: 5px 0;
  border-right: 3px solid #fff;
}

.venue-trasnportitem .details span {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

#venue .come-arrivare h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.come-arrivare p {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

#venue .accordion-list {
  padding: 0;
  list-style: none;
}

#venue .accordion-list li {
  border-bottom: 1px solid #e9eaed;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#venue .accordion-list .accordion-header {
  display: block;
  position: relative;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #E0BE36;
  transition: 0.3s;
}

#venue .accordion-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

#venue .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#venue .accordion-list .accordion-details p {
  text-align: start;
  padding-left: 25px;
}

#venue .accordion-list .icon-show {
  display: none;
}

#venue .accordion-list .collapsed {
  color: black;
}

#venue .accordion-list .collapsed:hover {
  color: #E0BE36;
}

#venue .accordion-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

#venue .accordion-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}