<template id="tac-header">
  <link href="components/TacHeader/tac-header.css" rel="stylesheet" type="text/css">
  <header id="header" class="d-flex align-items-center">
    <div class="container-fluid container-xxl d-flex align-items-center">
      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="./">The<span>Event</span></a></h1>-->
        <a href="./" class="scrollto">
          <img src="assets/img/logo_rosso_vuoto_tac23.png" class="rounded-2" alt="Torino Agile Conference logo" title="">
        </a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="./#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="./#about">Informazioni generali</a></li>
          <li><a class="nav-link scrollto" href="./#keynote">Keynote</a></li> 
          <li><a class="nav-link scrollto" href="./#schedule">Programma</a></li> 
          <li><a class="nav-link scrollto" href="./#sessions">Sessioni</a></li>
          <li><a class="nav-link scrollto" href="./#speakers">Speaker</a></li>
          <li><a class="nav-link scrollto" href="./#venue">Luogo</a></li>
          <li><a class="nav-link scrollto" href="./#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="./#supporters">Sponsor</a></li>
          <li><a class="nav-link scrollto" href="./#organizers">Organizzatori</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
          <!-- <li><a class="nav-link scrollto" href="./#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" href="./#buy-tickets">Biglietteria</a> -->
    </div>
  </header>
</template>
