<template id="tac-footer">
  <link href="components/TacFooter/tac-footer.css" rel="stylesheet" type="text/css">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <img
            src="assets/img/logo_ACT.png"
            class="rounded-2"
            alt="Agile Community Torino logo"
          />
          <p>
            L'Agile Community di Torino è un gruppo di appassionati di tutto ciò che riguarda l'agilità.
            Siamo sviluppatori, manager, c-level, ma anche persone di HR, marketing ecc. e ad oggi contiamo più di 100 membri attivi.
          </p>
          <p>
            <br/> La community è parte del più grande movimento a livello nazionale, l'Italian Agile Movement (IAM).
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Link</h4>
          <ul>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agile.to.it"
                >Agile Community Torino</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a
                target="_blank"
                href="https://www.agileday.it/mini/2018/torino/"
                >Edizioni passate</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a
                target="_blank"
                href="https://agilemovement.it/gdpr-informativa-eventi/"
                >Informazioni Privacy</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://paypal.me/pleinadIT">
                Sostieni la community</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Italian Agile Movement</h4>
          <ul>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agilemovement.it/">Sito web</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agilemovement.it/news/notizie/"
                >News</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agilemovement.it/news/eventi/"
                >Eventi</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agilemovement.it/chi-siamo/"
                >Chi siamo</a
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
              <a target="_blank" href="https://agilemovement.it/diventa-socio/"
                >Diventa socio IAM</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contattaci</h4>
          <p>
            <strong>Email:</strong>
            <a href="mailto:tac23@agilemovement.it">tac23@agilemovement.it</a><br />
          </p>

          <div class="social-links">
            <a
              href="https://www.linkedin.com/company/agile-community-torino/"
              class="linkedin"
              target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              href="https://www.meetup.com/agile-community-torino"
              class="meetup"
              target="_blank"
              ><i class="fa-brands fa-meetup"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!--div class="copyright">
      &copy; Copyright <strong>Agile Community Torino</strong>. All Rights
      Reserved
    </div-->
    <div class="copyright">
      <strong>Agile Community Torino</strong>
    </div-->
    <div class="credits">
      <!--
    All the links in the footer should remain intact.
    You can delete the links only if you purchased the pro version.
    Licensing information: https://bootstrapmade.com/license/
    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
  -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</template>
