<template id="tac-sponsors">
  <link href="components/TacSponsors/tac-sponsors.css" rel="stylesheet" type="text/css">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Main Sponsor</h2>
    </div>

    <div class="row no-gutters supporters-wrap clearfix justify-content-center" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-12 col-md-6">
        <a class="supporter-logo" href="https://www.wolterskluwer.com/it-it" target="_blank">
          <img src="assets/img/sponsors/wki.png" class="img-fluid" alt="Main sponsor Wolters Kluwer Italia">
        </a>
      </div>
      <div class="col-12 col-md-6">
        <a class="supporter-logo" href="https://www.intre.it/" target="_blank">
          <img src="assets/img/sponsors/intre.png" class="img-fluid" alt="Main sponsor Intrè">
        </a>
      </div>
      <div class="col-12 col-md-6">
        <a class="supporter-logo" href="https://www.synesthesia.it/" target="_blank">
          <img src="assets/img/sponsors/Synesthesia.png" class="img-fluid" alt="Main sponsor Synesthesia">
        </a>
      </div>
      <div class="col-12 col-md-6">
        <a class="supporter-logo" href=" https://realeites.taleo.net/careersection/rma_ext_cs_it/jobsearch.ftl?lang=it" target="_blank">
          <img src="assets/img/sponsors/Marchio_Reale_Group.jpg" class="img-fluid" alt="Main sponsor Reale Mutua">
        </a>
      </div>
    </div>
    <div class="section-header">
      <h2>Sponsor</h2>
    </div>
    <div class="row no-gutters supporters-wrap clearfix justify-content-center" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://welaika.com/" target="_blank">
          <img src="assets/img/sponsors/Welaika.svg" class="img-fluid" alt="Sponsor Welaika">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.sparkfabrik.com/" target="_blank">
          <img src="assets/img/sponsors/sparkfabrik.png" class="img-fluid" alt="Sponsor SparkFabrik">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.ulixe.com/" target="_blank">
          <img src="assets/img/sponsors/ulixe.png" class="img-fluid" alt="Sponsor Ulixe group">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.senseisrl.it/" target="_blank">
          <img src="assets/img/sponsors/Sensei.jpg" class="img-fluid" alt="Sponsor Sensei">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.agilereloaded.it/" target="_blank">
          <img src="assets/img/sponsors/AgileReloaded.svg" class="img-fluid" alt="Sponsor Agile Reloaded">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.agile42.com/it/" target="_blank">
          <img src="assets/img/sponsors/agile42.png" class="img-fluid" alt="Sponsor Agile 42">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.eurixgroup.com/" target="_blank">
          <img src="assets/img/sponsors/EURIX.png" class="img-fluid" alt="Sponsor Eurix">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.fabrick.com/" target="_blank">
          <img src="assets/img/sponsors/Fabrick.png" class="img-fluid" alt="Sponsor Fabrick">
        </a>
      </div>
    </div>

    <div class="section-header">
      <h2>Media Partner</h2>
    </div>
    <div class="row no-gutters supporters-wrap clearfix justify-content-center" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://sessionize.com/" target="_blank">
          <img src="assets/img/sponsors/sessionize.png" class="img-fluid" alt="Media partner Sessionize">
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://www.register.it/" target="_blank">
          <img src="assets/img/sponsors/register.png" class="img-fluid" alt="Media partner Register">
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://swicket.io/" target="_blank">
          <img src="assets/img/sponsors/swicket.png" class="img-fluid" alt="Media partner Swicket">
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://mailup.com/" target="_blank">
          <img src="assets/img/sponsors/Mailup.jpg" class="img-fluid" alt="Media partner Mailup">
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a class="supporter-logo" href="https://talentgarden.org/it/coworking/italy/turin/" target="_blank">
          <img src="assets/img/sponsors/tag.svg" class="img-fluid" alt="Media partner Talent garden">
        </a>
      </div>

    </div>

  </div>
</template> 