#supporters .supporters-wrap {
  border-top: none;
  border-left: none;
  margin-bottom: 100px;
}

#supporters .section-header a {
  color: #9F8419;
}

#supporters .supporters-wrap:last-of-type {
  margin-bottom: 30px;
}

#supporters .supporter-logo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  height: 160px;
  margin-bottom: 5px;
}

#supporters .supporter-logo:hover img {
  transform: scale(1.2);
}

#supporters img {
  transition: all 0.4s ease-in-out;
}