<template id="speaker-details">
  <link href="components/SpeakerDetails/speaker-details.css" rel="stylesheet" type="text/css">
  <div class="container">
    <div class="section-header">
      <h2>Speaker Details</h2>
      <p id="speaker-summary">Praesentium ut qui possimus sapiente nulla.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img id="speaker-img" src="/" alt="Speaker 1" class="img-fluid" />
      </div>

      <div class="col-md-6">
        <div class="details">
          <h2 id="speaker-name">UNKNOWN</h2>
          <div id="speaker-social" class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
          <div id="speaker-bio">
            <p>
              Voluptatem perferendis sed assumenda voluptatibus. Laudantium
              molestiae sint. Doloremque odio dolore dolore sit. Quae labore
              alias ea omnis ex expedita sapiente molestias atque. Optio
              voluptas et.
            </p>

            <p>
              Aboriosam inventore dolorem inventore nam est esse. Aperiam
              voluptatem nisi molestias laborum ut. Porro dignissimos eum.
              Tempore dolores minus unde est voluptatum incidunt ut aperiam.
            </p>

            <p>
              Et dolore blanditiis officiis non quod id possimus. Optio non
              commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias
              provident omnis incidunt aut. Eius et officia corrupti omnis error
              vel quia omnis velit. In qui debitis autem aperiam voluptates unde
              sunt et facilis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
